@import 'base.scss';


.loginWrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100%;
}

.loginForm {
  width: pxToRem(400);
}

.loginFormForgot {
  float: right;
}

.loginFormButton {
  width: 100%;
}

.ant-form-item-control{
    height:45px;
}

.loginBody{
  text-align: center;
}

.loginImg{
  width:pxToRem(150);
  margin-bottom:pxToRem(40);
}

.rememberBox{
  float:left
}