@import 'base.scss';
@import '_sprites.scss';

.welcome{
    text-align: center;
    line-height:pxToRem(970);
}

.userImage{
    @include sprite($user);
    float:right;
    width:32px;
    height:32px;
    margin-right:20px;

}
.settingImage{
     @include sprite($setting);
    float:right;
    width:32px;
    height:32px;
    margin-right:20px;
}